[FORMAT]
variable-naming-style=camelCase
function-naming-style=camelCase
const-naming-style=camelCase
class-naming-style=PascalCase
method-naming-style=camelCase
attr-naming-style=camelCase
argument-naming-style=camelCase